name: Test and Deploy to Google Cloud Run

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run tests
      env:
        PROJECT_ID: ${{ secrets.PROJECT_ID }}
        PUSHOVER_API_TOKEN: ${{ secrets.PUSHOVER_API_TOKEN }}
        PUSHOVER_USER_KEY: ${{ secrets.PUSHOVER_USER_KEY }}
      run: |
        pytest tests/

  deploy:
    needs: test  # This ensures deploy only runs if tests pass
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - uses: 'google-github-actions/auth@v2'
      with:
        credentials_json: '${{ secrets.GOOGLE_CREDENTIALS }}'
        
    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v2'

    - name: Configure Docker
      run: gcloud auth configure-docker

    - name: Build and deploy to Cloud Run
      run: gcloud builds submit --pack=image=gcr.io/${{ secrets.PROJECT_ID }}/${{ secrets.SERVICE_ID_OAUTH_VERSION }}

    - name: Deploy
      run: gcloud run deploy ${{ secrets.SERVICE_ID_OAUTH_VERSION }} --image gcr.io/${{ secrets.PROJECT_ID }}/${{ secrets.SERVICE_ID_OAUTH_VERSION }} --region=us-central1 --platform managed --allow-unauthenticated  --memory=512Mi --min-instances=0
